/* the css for the landing page */

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.app {
  text-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23eaeaea' fill-opacity='0.03' d='M0 0h4v4H0V0zm6 0h4v4H6V0zm6 0h4v4h-4V0zM0 6h4v4H0V6zm6 0h4v4H6V6zm6 0h4v4h-4V6zM0 12h4v4H0v-4zm6 0h4v4H6v-4zm6 0h4v4h-4v-4z'/%3E%3C/svg%3E");
  background-color: #282c34;
  background-size: 70px;
  background-attachment: fixed;
  background-repeat: repeat;
  }

.app-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title{
    font-size: 50px;
    font-weight: bold;
    color: #61dafb;
}

.app-subtitle{
    font-size: 30px;
    font-weight: bold;
    color: #61dafb;
}

.app-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-intro {
    font-size: large;
    width: 80%;
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
}

.app-footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-link {
  color: #61dafb;
}

.app-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: fit-content;
    flex-wrap: wrap;
}

.app-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #61fb6b;
    background-color: #282c34;
    color: #61dafb;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

/* Navbar CSS */
.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/* Documentation CSS */
.documentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #282c34;
    color: #fff;
}

.documentation-title{
    font-size: 50px;
    font-weight: bold;
    color: #61dafb;
}

.documentation-subtitle{
    font-size: 30px;
    font-weight: bold;
    color: #61dafb;
}

.documentation-intro{
    font-size: large;
    width: 80%;
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
}

.documentation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #282c34;
    color: #fff;
}

.documentation-section-title{
    font-size: 50px;
    font-weight: bold;
    color: #61dafb;
}

.documentation-section-intro{
    font-size: large;
    width: 80%;
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
}


