/* the css for the landing page */

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.app {
  text-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23eaeaea' fill-opacity='0.03' d='M0 0h4v4H0V0zm6 0h4v4H6V0zm6 0h4v4h-4V0zM0 6h4v4H0V6zm6 0h4v4H6V6zm6 0h4v4h-4V6zM0 12h4v4H0v-4zm6 0h4v4H6v-4zm6 0h4v4h-4v-4z'/%3E%3C/svg%3E");
  background-color: #282c34;
  background-size: 70px;
  background-attachment: fixed;
  background-repeat: repeat;
  }

.app-logo {
  height: 20vh;
  pointer-events: none;
  padding: 20px;
}

.app-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title{
    font-size: 50px;
    font-weight: bold;
    color: #61dafb;
}

.app-subtitle{
    font-size: 30px;
    font-weight: bold;
    color: #61dafb;
}

.app-body-intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-intro {
    font-size: calc(10px + 1.4vmin);
    width: 80%;
    text-align: center;
    list-style-type: square;
    list-style-position: inside;
    color: #ddf8ff;
}

.app-section-title {
    font-size: calc(10px + 2vmin);
    width: 80%;
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
    margin-bottom: 20px;
    color: #61fb6b;
}

.app-body-text {
    font-size: calc(10px + 1.1vmin);
    width: 80%;
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
    color: #ddf8ff;
}

.app-footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-link {
  color: #61dafb;
}

.app-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: fit-content;
    flex-wrap: wrap;
}

.app-button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #61fb6b;
    background-color: #282c34;
    color: #61dafb;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.sankey{
  max-height: 60vh;
  max-width: 80vw;
  color: #cc00bb;
}

